.Results__Row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  color: #777;
}

.Results__Row:first-child {
  padding-top: 0;
}

.Results__Row:last-child {
  padding-bottom: 0;
}

.Results__Intent {
  margin: 0;
}

.Results__Intent--pass {
  color: green;
}
.Results__Intent--fail {
  color: red;
}
